<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--注解驱动：自动配置最新的注解的处理器映射器和处理器适配器-->
    <!--    <mvc:annotation-driven/>-->
    <!--    <mvc:default-servlet-handler/>-->
    <!--如果要使用RequestMappingHandlerMapping这种方式，必须增加，否则无法加载对应注解的类-->
    <context:component-scan base-package="com.wj.mysql.controller"/>
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/>
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>

    <!--    <bean id=""-->
    <!--在web.xml中也可以配置拦截器-->
    <!--    <mvc:interceptors>-->
    <!--        <mvc:interceptor>-->
    <!--            <mvc:mapping path="/**"/>-->
    <!--            <ref bean=""-->
    <!--        </mvc:interceptor>-->
    <!--    </mvc:interceptors>-->
    <!--jsp最佳是放到WEB-INF文件下，避免JSP可以通过手动输入的url被直接访问到，只有控制器才能访问。
    支持多个view resolver。-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          p:suffix=".jsp"
          p:prefix="/WEB-INF/views"/>
    <!--解决路径模糊匹配，页面404-->
    <!--  <bean class="com.wj.mysql.utils.SetAlwaysUseFullPathForDispatcher"/>-->

</beans>