<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>Sql-Web</display-name>
    <!--这种处理方式是错误的-->
    <!--        <listener>-->
    <!--            <listener-class>com.wj.hsqldb.listener.SpringContextListener</listener-class>-->
    <!--        </listener>-->
    <!--用来配置Spring的配置文件-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:config/application-context*.xml</param-value>
    </context-param>
    <!--    用来创建Spring的IoC容器，并完成与ServletContext的绑定-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!--增加Spring MVC-->
    <servlet>
        <servlet-name>sql-web</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!--如果需要设置init-param，必须要放到load-on-startup之前-->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:config/spring-context.xml</param-value>
        </init-param>
        <!--表示启动容器的时候就初始化该Servlet-->
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>sql-web</servlet-name>
        <!--https://blog.csdn.net/weixin_44415997/article/details/100098081解决路径匹配不到的情况-->
<!--        <url-pattern>/mvc/*</url-pattern>-->
        <!--第二种解决方式：直接通过添加后缀名的形式来拦截请求。该后缀名任意-->
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
</web-app>

